* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
img,
video,
input {
  width: 100%;
  vertical-align: bottom;
}
body{
    background-image: url("../img/pexels-ivo-rainha-527110-1290141.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}